<template>
    <header class="header">
        <img src="../assets/image1.png" alt="logo" class="logo">
    </header>
</template>

<script>

</script>

<style>
    .header{
        min-height: 100px;
        background-color: black;
        padding-top: 31px;
        padding-left: 21px;
    }
</style>