<template>
    <div class="wrapper">  
        <HeaderComp></HeaderComp>
        <main class="main">
            <h2 class="txt-title">Войти в аккаунт(для администрации)</h2>
            <form class="reg-form">
                <label for="1">Логин</label>
                <input v-model="login" type="text" id="1" class="input login">
                <label for="2">Пароль</label>
                <input v-model="password" type="password" name="" id="2">
                <div class="reg-form__button" v-on:click="registrate()"><p class="txt-button">Войти</p></div>
            </form>
        </main>
    </div>  
</template>

<script>
import axios from "axios";
import HeaderComp from "../components/HeaderComp.vue";
export default {
    name: 'MainPage',
    components: {
        HeaderComp,
    }, 
    data (){
        return{
            request_data:{},
            login:[],
            password:[],
        }
    },
    setup() {       
    },
    async mounted(){
        // this.request_data = await axios.get('http://localhost:8000/').then(request => (this.request_data = request));
    },
    methods: {
            registrate:  function () {
            this.request_data =  axios.post('http://localhost:8000/authorisation', {'login':this.login,'password':this.password}).then(request => (this.request_data = request));
            if (this.request_data.data.token){
                this.$store.commit('setToken',this.request_data.data.token);
                window.location.href = 'cabinet';
            }
        }
    }
}
</script>

<style>
    .txt-title{
        margin-left: 21px;
        margin-bottom: 57px;
        color: 000;
        font-size: 12px;
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .reg-form{
        width: 152px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    label{
        margin-bottom: 8px;
        color: #000;
        font-size: 12px;
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .input{
        margin-bottom: 8px;
        /* width: 100%; */
        height: 23px;
    }
    .reg-form__button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 152px;
        height: 30px;   
        background-color: #000;
        border-radius: 10px;
        margin-top: 30px;
    }
    .txt-button{
        color: #FFF;
        font-size: 12px;
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
</style>