<template>
    <div class="wrapper" >  
        <HeaderComp></HeaderComp>
        <main class="main">
            <h2 class="txt-title">Ваш SQL запрос:</h2>
            <form class="reg-form">
                <label for="3">Прикрепить файл</label>
                <input @change="previewFiles" type="file" id="3"  class="input file">
            </form>
            <p v-if="request_data">Succsess</p>
        </main>
    </div>  
</template>

<script>
import axios from "axios";
import HeaderComp from "../components/HeaderComp.vue";
export default {
    name: 'MainPage',
    components: {
        HeaderComp,
    }, 
    data (){
        return{
            request_data:null,
            token:'',
        }
    },
    setup() {       
    },
    methods: {
        async previewFiles(event) {
            console.log(event.target.files);
            this.request_data = await axios.post('http://localhost:8000/add_to_db',{quary:event.target.files},{headers: {'Content-Type': 'application/x-www-form-urlencoded'}}).then(request => (this.request_data = request));
        },
    },
}
</script>

<style>
    .txt-title{
        margin-left: 21px;
        margin-bottom: 57px;
        color: 000;
        font-size: 12px;
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .reg-form{
        width: 200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    label{
        margin-bottom: 8px;
        color: #000;
        font-size: 12px;
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .input{
        background-color: #FFF;
        border: #000 solid;
        border-radius: 10px;
        margin-bottom: 8px;
        /* width: 100%; */
        height: 23px;
    }
    .reg-form__button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 152px;
        height: 30px;   
        background-color: #000;
        border-radius: 10px;
        margin-top: 30px;
    }
    .txt-button{
        color: #FFF;
        font-size: 12px;
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
</style>