<template>
    <div class="wrapper">  
        <HeaderComp></HeaderComp>
        <main class="main">
            <section>
                <h2 class="txt-title">Ваш SQL запрос:</h2>
                <form class="form">
                    <input v-model="message" type="text" class="sql-input">
                    <div class="button" v-on:click="send_request()"><p class="txt-button">Отправить</p></div>
                </form>
            </section>
            <table class="table">
                <tr>
                    <th>id</th>
                    <th>student_name</th>
                    <th>student_sename</th>
                </tr>
                <tr v-for="sql_response in request_data.data" :key="sql_response.id">
                    <td>{{ sql_response.id }}</td>
                    <td>{{ sql_response.name }}</td>
                    <td>{{ sql_response.sename }}</td>
                </tr>
            </table>
        </main>
    </div>  
</template>

<script>
import axios from "axios";
import HeaderComp from "../components/HeaderComp.vue";
export default {
    name: 'MainPage',
    components: {
        HeaderComp,
    }, 
    data (){
        return{
            request_data:{},
            message:'',
        }
    },
    setup() {       
    },
    async mounted(){
        
    },
    methods: {
    send_request: async function () {
        this.request_data = await axios.post('http://localhost:8000/request', {'quary':this.message}).then(request => (this.request_data = request));
    }
  }
}
</script>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
    .txt-title{
        margin-left: 21px;
        margin-bottom: 57px;
        color: 000;
        font-size: 12px;
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .sql-input{
        margin-left: 22px;
        width: 272px;
        height: 27px;
        border: 1px solid #000;
        background: #FFF;
        margin-bottom: 39px;
    }
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 95px;
        width: 130px;
        height: 30px;
        border-radius: 10px;
        background-color: #000;
        margin-bottom: 35px;
    }
    .txt-button{
        color: #FFF;
        font-size: 12px;
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: fff;
    }
</style>